h23{
    text-decoration: underline;
}
.timeline {
    /* border-left: 4px solid #333; */
    padding-left: 20px;
}

.timeline-item {
    position: relative;
    padding: 10px 0;
}

.timeline-date {
    position: absolute;
    left: -125px;
    width: 120px;
    text-align: right;
    font-weight: bold;
}

.timeline-content h4 {
    margin: 0;
    font-size: 1.25em;
}

.timeline-content p {
    margin: 5px 0 0;
    font-size: 0.875em;
}
